

body {
    background-color: yellow;
}

.container {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.center {
    height: auto;
    width: 1000px;
}

main {
    background: white;
    height: auto;
}

.menu {
    display: flex;
    justify-content: center;
}


h1 {
    font-family: 'Raleway', sans-serif;
    color: red;
}

h2 {
        font-family: 'Raleway', sans-serif;
}

th {
    color: limegreen;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: large;
    font-style: italic;
}

tr {
    font-family: 'Raleway', sans-serif;
}